@import url(https://fonts.googleapis.com/css?family=Inter:regular,500,600,700,800,900&display=swap);

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

.select__value:after,
[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-done:before {
  content: "\e900";
}

._icon-delete:before {
  content: "\e901";
}

._icon-copy:before {
  content: "\e902";
}

._icon-arrow-down:before {
  content: "\e903";
}

._icon-search:before {
  content: "\e904";
}

._icon-sort:before {
  content: "\e905";
}

._icon-grid:before {
  content: "\e906";
}

._icon-table:before {
  content: "\e907";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Inter";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Inter";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #fafafa;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  max-width: 81.25rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.select {
  position: relative;
}

.select__body {
  position: relative;
}

.select__title {
  color: inherit;
  text-align: left;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  cursor: pointer;
  width: 100%;
  border-radius: 4px;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1.875rem;
  padding: 0 0.9375rem;
  gap: 0.625rem;
}

.select__value > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.select__value:after {
  font-size: 0.5rem;
  content: "\e903";
  color: #717171;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10px;
          flex: 0 0 10px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

._select-open .select__value:after {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select__value._select-pseudo-label::before {
  content: attr(data-pseudo-label);
  opacity: 0.5;
}

.select__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-top: 0;
  padding-top: 0.125rem;
}

.select__scroll {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 200px;
}

.select__option {
  width: 100%;
  text-align: left;
  cursor: pointer;
  padding: 5px 15px;
  color: inherit;
}

.select__option:last-child {
  border-radius: 0 0 4px 4px;
}

.select__option._select-selected {
  background-color: #eee;
}

.select__row {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.select._select-open {
  z-index: 5;
}

._select-tag {
  cursor: pointer;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img,
[class*=-ibg] svg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img,
[class*=-ibg_contain] svg {
  -o-object-fit: contain;
     object-fit: contain;
}

.form-card {
  display: -ms-grid;
  display: grid;
  row-gap: 1rem;
}

._table .form-card {
  -ms-grid-columns: 40px 200px 350px 150px;
  grid-template-columns: 40px 200px 350px 150px;
}

.form-card__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.9375rem;
     -moz-column-gap: 0.9375rem;
          column-gap: 0.9375rem;
}

._table .form-card__items {
  padding: 0.625rem;
  border-bottom: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
}

._table .form-card__items_color {
  background-color: #F5F5F5;
}

._table .form-card__items:first-child {
  border-left: none;
  font-weight: 600;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-card__items_number {
  display: none;
}

._table .form-card__items_number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #F5F5F5;
}

.form-card__item {
  position: relative;
  border-radius: 0.25rem;
  overflow: hidden;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
  width: 100%;
}

.form-card__item_max-width {
  max-width: 6.25rem;
}

._table .form-card__item_max-width {
  max-width: none;
}

.form-card__item::before {
  content: "";
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 0.125rem;
  background-color: #0081A7;
  bottom: 0;
  left: 0;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.form-card__item._focus {
  background-color: #EEEEEE;
}

.form-card__item._focus::before {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.form-card__item._focus .form-card__button {
  visibility: visible;
  -webkit-transform: translateY(-50%) scale(1);
      -ms-transform: translateY(-50%) scale(1);
          transform: translateY(-50%) scale(1);
}

.form-card__item._focus .form-card__button_copy {
  visibility: hidden;
  -webkit-transform: translateY(-50%) scale(0);
      -ms-transform: translateY(-50%) scale(0);
          transform: translateY(-50%) scale(0);
}

.form-card__input {
  background-color: transparent;
  padding: 0.3125rem 0.625rem;
  padding-right: 2.5rem;
  border-radius: 0 !important;
  width: 100%;
}

.form-card__input:focus {
  outline: none;
}

.form-card__input_desc {
  resize: none;
}

._table .form-card__input_desc {
  max-height: 3.125rem;
}

.form-card__input_desc::-webkit-scrollbar {
  width: 3px;
  background-color: #E9ECEF;
}

.form-card__input_desc::-webkit-scrollbar-thumb {
  background-color: #3A57E8;
}

.form-card__input_desc::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
  background-color: #E9ECEF;
}

.form-card__input_link {
  color: #0081A7;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.form-card__button {
  background-color: transparent;
  visibility: hidden;
  position: absolute;
  width: 1.875rem;
  height: 1.875rem;
  top: 50%;
  -webkit-transform: translateY(-50%) scale(0);
      -ms-transform: translateY(-50%) scale(0);
          transform: translateY(-50%) scale(0);
  right: 0.3125rem;
  -webkit-transition: color 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  transition: color 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s, transform 0.3s ease 0s;
  transition: color 0.3s ease 0s, transform 0.3s ease 0s;
  transition: color 0.3s ease 0s, transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.form-card__button::before {
  font-size: 1.125rem;
}

._table .form-card__label {
  display: none;
}

.form-card_copy {
  visibility: visible;
  -webkit-transform: translateY(-50%) scale(1);
      -ms-transform: translateY(-50%) scale(1);
          transform: translateY(-50%) scale(1);
  color: #EEEEEE;
}

.header-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.9375rem;
     -moz-column-gap: 0.9375rem;
          column-gap: 0.9375rem;
}

.header-card__dir {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  font-size: 0.75rem;
  line-height: 125%;
  color: #717171;
}

.header-card__dir span::before {
  font-size: 0.625rem;
  display: inline-block;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.header-card__button {
  padding: 0.4375rem;
  background-color: #E9ECEF;
  font-size: 1.125rem;
  border-radius: 0.25rem;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.header-card__button::before {
  color: #717171;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.controlls-specialties {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
  row-gap: 1.25rem;
  min-height: 3.75rem;
}

.controlls-specialties__button {
  background-color: #04134E;
  border-radius: 4px;
  color: #fff;
  position: relative;
  padding: 0.9375rem;
  padding-left: 3.75rem;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.controlls-specialties__button::before,
.controlls-specialties__button::after {
  content: "";
  position: absolute;
  width: 1.5625rem;
  height: 0.375rem;
  top: 50%;
  left: 15px;
  border-radius: 2px;
  background-color: #fff;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.controlls-specialties__button::before {
  -webkit-transform: translateY(-50%) rotate(90deg);
      -ms-transform: translateY(-50%) rotate(90deg);
          transform: translateY(-50%) rotate(90deg);
  opacity: 0.4;
}

.controlls-specialties__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.input-fillter {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.input-fillter__input {
  padding: 1.25rem;
  padding-right: 5rem;
  width: 100%;
  border-radius: 4px;
  background-color: #E9ECEF;
}

.input-fillter__input:focus {
  outline: none;
  -webkit-box-shadow: 0 0 2px #0081A7;
          box-shadow: 0 0 2px #0081A7;
}

.input-fillter__button {
  position: absolute;
  width: 3.75rem;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #0081A7;
  border-radius: 0px 4px 4px 0px;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.input-fillter__button::before {
  font-size: 1.25rem;
  color: #fff;
}

.header {
  padding: 0.9375rem 0;
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  min-height: 4.6875rem;
}

.menu-main {
  padding: 0 0.9375rem;
}

.menu-main__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.9375rem;
     -moz-column-gap: 0.9375rem;
          column-gap: 0.9375rem;
}

.menu-main__image-ibg {
  width: 1.875rem;
  height: 1.875rem;
}

.login-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login-menu__name {
  font-weight: 400;
  line-height: 175%;
  color: #232D42;
}

.login-menu__job-title {
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 130%;
  color: #8A92A6;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: #E9ECEF;
}

::-webkit-scrollbar-thumb {
  background-color: #3A57E8;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
  background-color: #E9ECEF;
}

.aside-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 15;
  background-color: #fff;
  -webkit-transition: max-width 0.3s ease 0s;
  -o-transition: max-width 0.3s ease 0s;
  transition: max-width 0.3s ease 0s;
}

.aside-menu._asideMenu-scroll {
  max-width: 5.1875rem;
}

.aside-menu._asideMenu-scroll .icon-aside-menu {
  -webkit-transform: translate(50%, 0) scale(1, 1);
      -ms-transform: translate(50%, 0) scale(1, 1);
          transform: translate(50%, 0) scale(1, 1);
}

.aside-menu._asideMenu-scroll .menu__link {
  max-width: 3.125rem;
}

.aside-menu._asideMenu-scroll .menu__header {
  max-width: 5.1875rem;
}

.aside-menu._asideMenu-show {
  max-width: 23.75rem;
}

.menu-open .aside-menu._asideMenu-show .icon-aside-menu {
  -webkit-transform: translate(50%, 0) scale(-1, 1);
      -ms-transform: translate(50%, 0) scale(-1, 1);
          transform: translate(50%, 0) scale(-1, 1);
}

.menu-open .aside-menu._asideMenu-show .menu__link {
  max-width: 23.75rem;
}

.menu-open .aside-menu._asideMenu-show .menu__header {
  max-width: 23.75rem;
}

.aside-menu::after {
  content: "";
  position: absolute;
  width: 110%;
  height: 4.6875rem;
  top: 0;
  left: 0;
  background-color: #fff;
}

.aside-menu::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.125rem;
  top: 4.5625rem;
  left: 0;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.aside-menu__body {
  height: 100%;
  padding: 0.9375rem;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  direction: rtl;
}

.aside-menu__body::-webkit-scrollbar {
  width: 3px;
  background-color: #E9ECEF;
}

.aside-menu__body::-webkit-scrollbar-thumb {
  background-color: #3A57E8;
}

.aside-menu__body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
  background-color: #E9ECEF;
}

.aside-menu__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.menu-open .aside-menu {
  max-width: 23.75rem;
}

.menu {
  position: relative;
  z-index: 10;
  direction: ltr;
}

.menu__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0.9375rem;
  z-index: 2;
  overflow: hidden;
  position: fixed;
  width: 100%;
  max-width: 5rem;
  background-color: #fff;
  height: 4.6875rem;
  top: 0;
  left: 0;
  -webkit-transition: max-width 0.3s ease 0s;
  -o-transition: max-width 0.3s ease 0s;
  transition: max-width 0.3s ease 0s;
}

.menu-open .menu__header {
  max-width: 23.75rem;
}

.menu__logo-ibg {
  width: 2.5rem;
  height: 2.5rem;
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 1.75rem;
  line-height: 130%;
  color: #232D42;
}

.menu__logo-ibg span {
  padding-left: 4.25rem;
}

.menu__nav {
  padding-top: 4.0625rem;
}

.menu__items {
  position: relative;
  padding: 0.9375rem 0;
  display: -ms-grid;
  display: grid;
  gap: 0.9375rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

._asideMenu-scroll .menu__items {
  padding-top: 15px;
}

.menu-open ._asideMenu-show .menu__items {
  padding-top: 80px;
}

.menu-open ._asideMenu-show .menu__items_form {
  padding-top: 60px;
}

.menu__items_padding {
  padding-top: 15px !important;
}

.menu__items::before {
  content: "";
  position: absolute;
  width: 100%;
  max-width: 3.125rem;
  height: 0.0625rem;
  bottom: 0;
  left: 0;
  background-color: #E9ECEF;
  -webkit-transition: max-width 0.3s ease 0s;
  -o-transition: max-width 0.3s ease 0s;
  transition: max-width 0.3s ease 0s;
}

.menu-open .menu__items::before {
  max-width: 23.75rem;
}

.menu__title {
  font-weight: 600;
  line-height: 125%;
  color: #ADB5BD;
  position: absolute;
  width: 100%;
  top: 15px;
  right: -200%;
  -webkit-transition: right 0.3s ease 0s;
  -o-transition: right 0.3s ease 0s;
  transition: right 0.3s ease 0s;
}

.menu__title:not(:last-child) {
  margin-bottom: 0.625em;
}

._asideMenu-scroll .menu__title {
  right: -200%;
}

.menu-open ._asideMenu-show .menu__title {
  right: 0;
}

.menu__link {
  padding: 0.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.3125rem;
  font-weight: 400;
  line-height: 175%;
  color: #8A92A6;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  white-space: nowrap;
  max-width: 3.125rem;
}

.menu__link._active {
  color: #fff;
  background-color: #04134E;
  -webkit-box-shadow: 0px 0px 5px rgba(138, 146, 166, 0.3);
          box-shadow: 0px 0px 5px rgba(138, 146, 166, 0.3);
}

.menu__link._active .menu__image-ibg svg path {
  fill: #fff;
}

.menu-open .menu__link {
  max-width: 23.75rem;
}

.menu__link span {
  pointer-events: none;
  padding-left: 1.5625rem;
}

.menu__image-ibg {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 1.875rem;
  height: 1.875rem;
  pointer-events: none;
}

.icon-aside-menu {
  position: absolute;
  top: 23.5px;
  right: 0;
  -webkit-transform: translate(50%, 0) scale(1, 1);
      -ms-transform: translate(50%, 0) scale(1, 1);
          transform: translate(50%, 0) scale(1, 1);
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
  background-color: #04134E;
  border-radius: 50%;
  width: 1.875rem;
  height: 1.875rem;
  cursor: pointer;
  z-index: 20;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.icon-aside-menu span,
.icon-aside-menu::before,
.icon-aside-menu::after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  left: 50%;
  -webkit-transform: translate(-50%, 0px);
      -ms-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
  position: absolute;
  width: 50%;
  height: 0.125rem;
  background-color: #fff;
}

.icon-aside-menu::before {
  width: 0.625rem;
  -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
          transform: rotate(40deg);
  top: calc(50% - 0.25rem);
}

.icon-aside-menu::after {
  width: 0.625rem;
  -webkit-transform: rotate(-40deg);
      -ms-transform: rotate(-40deg);
          transform: rotate(-40deg);
  bottom: calc(50% - 0.25rem);
}

.icon-aside-menu span {
  top: calc(50% - 0.0625rem);
}

.menu-open .icon-aside-menu {
  background: rgba(4, 19, 78, 0.25);
  -webkit-transform: translate(50%, 0) scale(-1, 1);
      -ms-transform: translate(50%, 0) scale(-1, 1);
          transform: translate(50%, 0) scale(-1, 1);
  opacity: 0.75;
}

.page {
  padding-left: 5.1875rem;
  padding-top: 4.6875rem;
  position: relative;
}

.page__iframe {
  padding-left: 4.375rem;
  padding-top: 4.0625rem;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.university__slider {
  padding: 0.9375rem;
  padding-top: 1.5625rem;
  padding-bottom: 2.5rem;
}

.chapter {
  display: -ms-grid;
  display: grid;
}

@supports (row-gap: clamp( 1.25rem , 0.2083333333rem  +  3.4722222222vw , 1.875rem )) {
  .chapter {
    row-gap: clamp( 1.25rem , 0.2083333333rem  +  3.4722222222vw , 1.875rem );
  }
}

@supports not (row-gap: clamp( 1.25rem , 0.2083333333rem  +  3.4722222222vw , 1.875rem )) {
  .chapter {
    row-gap: calc(1.25rem + 0.625 * (100vw - 30rem) / 18);
  }
}

.chapter__header {
  padding: 1.25rem;
  background: #fff;
  -webkit-box-shadow: 0px 10px 13px rgba(17, 38, 146, 0.05);
          box-shadow: 0px 10px 13px rgba(17, 38, 146, 0.05);
  border-radius: 0.5rem;
}

.chapter__button {
  padding: 1.25rem;
  padding-right: 2.5rem;
  border: 1px dashed #ADB5BD;
  border-radius: 0.5rem;
  text-align: left;
  position: relative;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.chapter__button::before,
.chapter__button::after {
  content: "";
  position: absolute;
  width: 1.25rem;
  height: 0.125rem;
  top: 50%;
  right: 1.5625rem;
  background-color: #717171;
}

.chapter__button::after {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.chapter__cards {
  overflow: hidden;
  display: -ms-grid;
  display: grid;
}

@supports (row-gap: clamp( 1.25rem , 0.2083333333rem  +  3.4722222222vw , 1.875rem )) {
  .chapter__cards {
    row-gap: clamp( 1.25rem , 0.2083333333rem  +  3.4722222222vw , 1.875rem );
  }
}

@supports not (row-gap: clamp( 1.25rem , 0.2083333333rem  +  3.4722222222vw , 1.875rem )) {
  .chapter__cards {
    row-gap: calc(1.25rem + 0.625 * (100vw - 30rem) / 18);
  }
}

.header-fillter {
  display: -ms-grid;
  display: grid;
  row-gap: 1.25rem;
  max-height: 3.875rem;
  overflow: hidden;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.header-fillter._visibility {
  max-height: 10.3125rem;
  overflow: visible;
}

.header-fillter__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.9375rem;
     -moz-column-gap: 0.9375rem;
          column-gap: 0.9375rem;
}

.header-fillter__row_flex-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header-fillter__button_search::before {
  font-size: 1.4375rem;
  color: #0081A7;
}

.header-fillter__button_sort {
  border-radius: 4px;
  padding: 7px;
  background-color: #E9ECEF;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header-fillter__button_sort::before {
  color: #717171;
}

.header-fillter__button_sort._active {
  background-color: #0081A7;
}

.header-fillter__button_sort._active::before {
  color: #fff;
}

.header-fillter__item {
  width: 100%;
  max-width: 17.25rem;
  position: relative;
  border-radius: 0.25rem;
  overflow: hidden;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #E9ECEF;
}

.header-fillter__item::before {
  content: "";
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 0.125rem;
  background-color: #0081A7;
  bottom: 0;
  left: 0;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.header-fillter__item._focus::before {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.header-fillter__input {
  background-color: transparent;
  padding: 0.3125rem 0.625rem;
  border-radius: 0 !important;
  width: 100%;
}

.header-fillter__input:focus {
  outline: none;
}

.header-fillter__label {
  font-size: 0.875rem;
  white-space: nowrap;
}

.header-fillter__select {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  max-width: 12.5rem;
}

.card-chapter {
  display: -ms-grid;
  display: grid;
  row-gap: 1rem;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  background: #fff;
  -webkit-box-shadow: 0px 10px 13px rgba(17, 38, 146, 0.05);
          box-shadow: 0px 10px 13px rgba(17, 38, 146, 0.05);
  border-radius: 0.5rem;
}

@supports (padding: clamp( 0.9375rem , 0.0000000625rem  +  3.125vw , 1.5rem )) {
  .card-chapter {
    padding: clamp( 0.9375rem , 0.0000000625rem  +  3.125vw , 1.5rem );
  }
}

@supports not (padding: clamp( 0.9375rem , 0.0000000625rem  +  3.125vw , 1.5rem )) {
  .card-chapter {
    padding: calc(0.9375rem + 0.5625 * (100vw - 30rem) / 18);
  }
}

.card-chapter._delete {
  -webkit-transform: translateX(-105%);
      -ms-transform: translateX(-105%);
          transform: translateX(-105%);
}

.control-card__button_title::before {
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.control-card__button_desc::before {
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.tippy-buttons__button {
  display: inline-block;
  width: 100%;
  padding: 5px 9px;
}

.tippy-buttons__button:first-child {
  border-radius: 8px 8px 0 0;
}

.tippy-buttons__button:last-child {
  border-radius: 0 0 8px 8px;
}

.tippy-buttons__button:active {
  background-color: #3A57E8;
}

.specialties {
  padding: 1.25rem 0.9375rem;
  padding-bottom: 2.5rem;
  display: -ms-grid;
  display: grid;
  row-gap: 2.5rem;
}

@supports (font-size: clamp( 1.75rem , 1.1220095694rem  +  2.8708133971vw , 2.5rem )) {
  .specialties__title {
    font-size: clamp( 1.75rem , 1.1220095694rem  +  2.8708133971vw , 2.5rem );
  }
}

@supports not (font-size: clamp( 1.75rem , 1.1220095694rem  +  2.8708133971vw , 2.5rem )) {
  .specialties__title {
    font-size: calc(1.75rem + 0.75 * (100vw - 21.875rem) / 26.125);
  }
}

.specialties__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  gap: 2.5rem;
}

._table .specialties__cards {
  background-color: #fff;
  -ms-grid-column-align: start;
      justify-self: start;
  -webkit-box-shadow: 0px 10px 13px rgba(17, 38, 146, 0.05);
          box-shadow: 0px 10px 13px rgba(17, 38, 146, 0.05);
  -ms-grid-columns: (1fr)[1];
  grid-template-columns: repeat(1, 1fr);
  gap: 0rem;
  overflow-x: auto;
  border-radius: 8px;
  border: 1px solid #e5e5e5;
  border-top: 5px solid #3A57E8;
  border-bottom: none;
}

.specialties__body {
  overflow: hidden;
}

._table .specialties__body {
  overflow: visible;
  min-width: 100%;
  background-color: #F5F5F5;
}

.specialties__body_hidden {
  display: none;
}

._table .specialties__body_hidden {
  display: block;
  font-weight: 600;
}

.switch-visibility {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.9375rem;
     -moz-column-gap: 0.9375rem;
          column-gap: 0.9375rem;
}

.switch-visibility__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  background-color: #E9ECEF;
  cursor: pointer;
  height: 100%;
  min-width: 3.75rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.switch-visibility__label::before {
  font-size: 1.5625rem;
  color: #717171;
}

.switch-visibility__label._active {
  background-color: #0081A7;
}

.switch-visibility__label._active::before {
  color: #fff;
}

.card-specialties {
  display: -ms-grid;
  display: grid;
  row-gap: 1rem;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  background: #fff;
  -webkit-box-shadow: 0px 10px 13px rgba(17, 38, 146, 0.05);
          box-shadow: 0px 10px 13px rgba(17, 38, 146, 0.05);
  border-radius: 0.5rem;
}

@supports (padding: clamp( 0.9375rem , 0.0000000625rem  +  3.125vw , 1.5rem )) {
  .card-specialties {
    padding: clamp( 0.9375rem , 0.0000000625rem  +  3.125vw , 1.5rem );
  }
}

@supports not (padding: clamp( 0.9375rem , 0.0000000625rem  +  3.125vw , 1.5rem )) {
  .card-specialties {
    padding: calc(0.9375rem + 0.5625 * (100vw - 30rem) / 18);
  }
}

._table .card-specialties {
  padding: 0 !important;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

._table .card-specialties_header {
  background-color: transparent;
}

._table .card-specialties__header {
  display: none;
}

.card-specialties._delete {
  -webkit-transform: translateX(-105%);
      -ms-transform: translateX(-105%);
          transform: translateX(-105%);
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (max-width: 83.125em) {
  .specialties__cards {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 61.99875em) {
  .specialties__cards {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 47.99875em) {
  .controlls-specialties {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .controlls-specialties__switch {
    min-height: 3.75rem;
  }

  .controlls-specialties__input {
    min-height: 3.75rem;
  }

  .controlls-specialties__button {
    min-height: 3.75rem;
  }

  .menu-main__image-ibg {
    display: none;
  }

  .login-menu {
    display: none;
  }

  .specialties {
    row-gap: 1.25rem;
  }

  .specialties__cards {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    gap: 1.875rem;
  }
}

@media (any-hover: hover) {
  .select__option:hover {
    background: #0081A7;
    color: #fff;
  }

  .form-card__button:hover {
    color: green;
  }

  .form-card_copy:hover {
    color: #717171;
  }

  .header-card__button:hover {
    background-color: #971F1F;
  }

  .header-card__button:hover::before {
    color: #fff;
  }

  .controlls-specialties__button:hover {
    background-color: #0081A7;
  }

  .input-fillter__button:hover {
    background-color: #0081A7;
  }

  .menu__link:hover {
    color: #3A57E8;
    background-color: #C4CCF8;
  }

  .menu__link:hover .menu__image-ibg svg path {
    fill: #3A57E8;
  }

  .menu__link:hover._active {
    color: #fff;
    background-color: #04134E;
  }

  .menu__link:hover._active .menu__image-ibg svg path {
    fill: #fff;
  }

  .icon-aside-menu:hover {
    background-color: #C4CCF8;
  }

  .chapter__button:hover {
    background-color: #C4CCF8;
  }

  .control-card__button_title:hover::before {
    color: #3A57E8;
  }

  .control-card__button_desc:hover::before {
    color: #3A57E8;
  }

  .tippy-buttons__button:hover {
    background-color: #0081A7;
    color: #fff;
  }

  .switch-visibility__label:hover {
    background-color: #aeb9c4;
  }

  .switch-visibility__label:hover::before {
    color: #fff;
  }
}