@import url(https://fonts.googleapis.com/css?family=Inter:regular,500,600,700,800,900&display=swap);

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-delete:before {
  content: "\e901";
}

._icon-edit-desc:before {
  content: "\e902";
}

._icon-edit-title:before {
  content: "\e904";
}

._icon-arrow-down:before {
  content: "\e903";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Inter";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Inter";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #fafafa;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  max-width: 81.25rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img,
[class*=-ibg] svg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img,
[class*=-ibg_contain] svg {
  -o-object-fit: contain;
     object-fit: contain;
}

.header {
  padding: 0.625rem 0;
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  min-height: 4.0625rem;
}

.menu-main__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
}

.language-menu__image-ibg {
  width: 1.875rem;
  height: 1.875rem;
}

.login-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-menu__image-ibg {
  width: 1.875rem;
  height: 1.875rem;
}

.login-menu__info {
  text-align: left;
}

.login-menu__name {
  font-weight: 400;
  line-height: 175%;
  color: #232D42;
}

.login-menu__job-title {
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 130%;
  color: #8A92A6;
}

.aside-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 15;
  background-color: #fff;
  -webkit-transition: max-width 0.3s ease 0s;
  -o-transition: max-width 0.3s ease 0s;
  transition: max-width 0.3s ease 0s;
}

.aside-menu._asideMenu-scroll {
  max-width: 4.5625rem;
}

.aside-menu._asideMenu-scroll .icon-aside-menu {
  -webkit-transform: translate(50%, 0) scale(1, 1);
      -ms-transform: translate(50%, 0) scale(1, 1);
          transform: translate(50%, 0) scale(1, 1);
}

.aside-menu._asideMenu-scroll .menu__link {
  max-width: 3.125rem;
}

.aside-menu._asideMenu-scroll .menu__header {
  max-width: 4.5625rem;
}

.aside-menu._asideMenu-show {
  max-width: 23.75rem;
}

.menu-open .aside-menu._asideMenu-show .icon-aside-menu {
  -webkit-transform: translate(50%, 0) scale(-1, 1);
      -ms-transform: translate(50%, 0) scale(-1, 1);
          transform: translate(50%, 0) scale(-1, 1);
}

.menu-open .aside-menu._asideMenu-show .menu__link {
  max-width: 23.75rem;
}

.menu-open .aside-menu._asideMenu-show .menu__header {
  max-width: 23.75rem;
}

.aside-menu::after {
  content: "";
  position: absolute;
  width: 110%;
  height: 4.0625rem;
  top: 0;
  left: 0;
  background-color: #fff;
}

.aside-menu::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.125rem;
  top: 3.9375rem;
  left: 0;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.aside-menu__body {
  height: 100%;
  padding: 0.625rem;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  direction: rtl;
}

.aside-menu__body::-webkit-scrollbar {
  width: 3px;
  background-color: #E9ECEF;
}

.aside-menu__body::-webkit-scrollbar-thumb {
  background-color: #3A57E8;
}

.aside-menu__body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
  background-color: #E9ECEF;
}

.aside-menu__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.menu-open .aside-menu {
  max-width: 23.75rem;
}

.menu {
  position: relative;
  z-index: 10;
  direction: ltr;
}

.menu__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0.625rem;
  z-index: 2;
  overflow: hidden;
  position: fixed;
  width: 100%;
  max-width: 5rem;
  background-color: #fff;
  height: 4.0625rem;
  top: 0;
  left: 0;
  -webkit-transition: max-width 0.3s ease 0s;
  -o-transition: max-width 0.3s ease 0s;
  transition: max-width 0.3s ease 0s;
}

.menu-open .menu__header {
  max-width: 23.75rem;
}

.menu__logo-ibg {
  width: 2.5rem;
  height: 2.5rem;
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 1.75rem;
  line-height: 130%;
  color: #232D42;
}

.menu__logo-ibg span {
  padding-left: 3.9375rem;
}

.menu__body {
  padding-top: 3.75rem;
}

.menu__items {
  position: relative;
  padding: 0.625rem 0;
  display: -ms-grid;
  display: grid;
  gap: 0.625rem;
}

.menu__items::before {
  content: "";
  position: absolute;
  width: 100%;
  max-width: 3.125rem;
  height: 0.0625rem;
  bottom: 0;
  left: 0;
  background-color: #E9ECEF;
  -webkit-transition: max-width 0.3s ease 0s;
  -o-transition: max-width 0.3s ease 0s;
  transition: max-width 0.3s ease 0s;
}

.menu-open .menu__items::before {
  max-width: 23.75rem;
}

.menu__title {
  font-weight: 600;
  line-height: 175%;
  color: #ADB5BD;
}

.menu__link {
  padding: 0.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.3125rem;
  font-weight: 400;
  line-height: 175%;
  color: #8A92A6;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  white-space: nowrap;
  -webkit-box-shadow: 0px 0px 3px rgba(138, 146, 166, 0.3);
          box-shadow: 0px 0px 3px rgba(138, 146, 166, 0.3);
  max-width: 3.125rem;
}

.menu__link._active {
  color: #fff;
  background-color: #04134E;
  -webkit-box-shadow: 0px 0px 5px rgba(138, 146, 166, 0.3);
          box-shadow: 0px 0px 5px rgba(138, 146, 166, 0.3);
}

.menu__link._active .menu__image-ibg svg path {
  fill: #fff;
}

.menu-open .menu__link {
  max-width: 23.75rem;
}

.menu__link span {
  pointer-events: none;
  padding-left: 1.5625rem;
}

.menu__image-ibg {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 1.875rem;
  height: 1.875rem;
  pointer-events: none;
}

.icon-aside-menu {
  position: absolute;
  top: 17.5px;
  right: 0;
  -webkit-transform: translate(50%, 0) scale(1, 1);
      -ms-transform: translate(50%, 0) scale(1, 1);
          transform: translate(50%, 0) scale(1, 1);
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
  background-color: #04134E;
  border-radius: 50%;
  width: 1.875rem;
  height: 1.875rem;
  cursor: pointer;
  z-index: 20;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.icon-aside-menu span,
.icon-aside-menu::before,
.icon-aside-menu::after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  left: 50%;
  -webkit-transform: translate(-50%, 0px);
      -ms-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
  position: absolute;
  width: 50%;
  height: 0.125rem;
  background-color: #fff;
}

.icon-aside-menu::before {
  width: 0.625rem;
  -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
          transform: rotate(40deg);
  top: calc(50% - 0.25rem);
}

.icon-aside-menu::after {
  width: 0.625rem;
  -webkit-transform: rotate(-40deg);
      -ms-transform: rotate(-40deg);
          transform: rotate(-40deg);
  bottom: calc(50% - 0.25rem);
}

.icon-aside-menu span {
  top: calc(50% - 0.0625rem);
}

.menu-open .icon-aside-menu {
  background: rgba(4, 19, 78, 0.25);
  -webkit-transform: translate(50%, 0) scale(-1, 1);
      -ms-transform: translate(50%, 0) scale(-1, 1);
          transform: translate(50%, 0) scale(-1, 1);
  opacity: 0.75;
}

.page {
  padding-left: 4.375rem;
  padding-top: 4.0625rem;
}

.university__slider {
  padding: 0.9375rem;
  padding-top: 1.5625rem;
  padding-bottom: 2.5rem;
}

.chapter {
  display: -ms-grid;
  display: grid;
}

@supports (row-gap: clamp( 1.25rem , 0.2083333333rem  +  3.4722222222vw , 1.875rem )) {
  .chapter {
    row-gap: clamp( 1.25rem , 0.2083333333rem  +  3.4722222222vw , 1.875rem );
  }
}

@supports not (row-gap: clamp( 1.25rem , 0.2083333333rem  +  3.4722222222vw , 1.875rem )) {
  .chapter {
    row-gap: calc(1.25rem + 0.625 * (100vw - 30rem) / 18);
  }
}

.chapter__title {
  padding: 1.25rem;
  background: #fff;
  -webkit-box-shadow: 0px 10px 13px rgba(17, 38, 146, 0.05);
          box-shadow: 0px 10px 13px rgba(17, 38, 146, 0.05);
  border-radius: 0.5rem;
}

.chapter__button {
  padding: 1.25rem;
  padding-right: 2.5rem;
  border: 1px dashed #ADB5BD;
  border-radius: 0.5rem;
  text-align: left;
  position: relative;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.chapter__button::before,
.chapter__button::after {
  content: "";
  position: absolute;
  width: 1.25rem;
  height: 0.125rem;
  top: 50%;
  right: 1.5625rem;
  background-color: #717171;
}

.chapter__button::after {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.chapter__card {
  display: -ms-grid;
  display: grid;
}

@supports (row-gap: clamp( 1.25rem , 0.2083333333rem  +  3.4722222222vw , 1.875rem )) {
  .chapter__card {
    row-gap: clamp( 1.25rem , 0.2083333333rem  +  3.4722222222vw , 1.875rem );
  }
}

@supports not (row-gap: clamp( 1.25rem , 0.2083333333rem  +  3.4722222222vw , 1.875rem )) {
  .chapter__card {
    row-gap: calc(1.25rem + 0.625 * (100vw - 30rem) / 18);
  }
}

.card-chapter {
  display: -ms-grid;
  display: grid;
  row-gap: 1rem;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
          transform: scale(1, 1);
  background: #fff;
  -webkit-box-shadow: 0px 10px 13px rgba(17, 38, 146, 0.05);
          box-shadow: 0px 10px 13px rgba(17, 38, 146, 0.05);
  border-radius: 0.5rem;
}

@supports (padding: clamp( 0.9375rem , 0.0000000625rem  +  3.125vw , 1.5rem )) {
  .card-chapter {
    padding: clamp( 0.9375rem , 0.0000000625rem  +  3.125vw , 1.5rem );
  }
}

@supports not (padding: clamp( 0.9375rem , 0.0000000625rem  +  3.125vw , 1.5rem )) {
  .card-chapter {
    padding: calc(0.9375rem + 0.5625 * (100vw - 30rem) / 18);
  }
}

.card-chapter._delete {
  -webkit-transform: scale(1, 0);
      -ms-transform: scale(1, 0);
          transform: scale(1, 0);
}

.header-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.9375rem;
     -moz-column-gap: 0.9375rem;
          column-gap: 0.9375rem;
}

.header-card__dir {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  font-size: 0.75rem;
  line-height: 125%;
  color: #717171;
}

.header-card__dir span::before {
  font-size: 0.625rem;
  display: inline-block;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.header-card__button {
  display: inline-block;
  position: relative;
  width: 1.25rem;
  height: 1.25rem;
  cursor: pointer;
  z-index: 5;
}

.header-card__button span,
.header-card__button::before,
.header-card__button::after {
  content: "";
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  width: 0.3125rem;
  height: 0.3125rem;
  border-radius: 50%;
  background-color: #717171;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.header-card__button::before {
  left: 0;
}

.header-card__button::after {
  left: 50%;
}

.header-card__button span {
  left: 100%;
}

.form-card {
  display: -ms-grid;
  display: grid;
  row-gap: 1rem;
}

.form-card__item {
  position: relative;
  border-radius: 0.25rem;
  background: #EEEEEE;
  overflow: hidden;
}

.form-card__item::before {
  content: "";
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 0.125rem;
  background-color: #0081A7;
  bottom: 0;
  left: 0;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.form-card__item._focus::before {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.form-card__input {
  background-color: transparent;
  padding: 0.3125rem 0.625rem;
  border-radius: 0 !important;
  width: 100%;
}

.form-card__input:focus {
  outline: none;
}

.form-card textarea {
  resize: none;
}

.form-card textarea::-webkit-scrollbar {
  width: 3px;
  background-color: #E9ECEF;
}

.form-card textarea::-webkit-scrollbar-thumb {
  background-color: #3A57E8;
}

.form-card textarea::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
  background-color: #E9ECEF;
}

.control-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
}

.control-card__button {
  font-size: 1.875rem;
}

.control-card__button_title::before {
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.control-card__button_desc::before {
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.control-card__button_delete::before {
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (max-width: 47.99875em) {
  .language-menu {
    display: none;
  }

  .login-menu {
    display: none;
  }
}

@media (any-hover: hover) {
  .menu__link:hover {
    color: #3A57E8;
    background-color: #C4CCF8;
  }

  .menu__link:hover .menu__image-ibg svg path {
    fill: #3A57E8;
  }

  .menu__link:hover._active {
    color: #fff;
    background-color: #04134E;
  }

  .menu__link:hover._active .menu__image-ibg svg path {
    fill: #fff;
  }

  .icon-aside-menu:hover {
    background-color: #C4CCF8;
  }

  .chapter__button:hover {
    background-color: #C4CCF8;
  }

  .header-card__button:hover span,
  .header-card__button:hover::before,
  .header-card__button:hover::after {
    background-color: #3A57E8;
  }

  .control-card__button_title:hover::before {
    color: #3A57E8;
  }

  .control-card__button_desc:hover::before {
    color: #3A57E8;
  }

  .control-card__button_delete:hover::before {
    color: red;
  }
}