<section class="page__specialties specialties">
	<!-- <div class="specialties__container"> -->
	<div class="specialties__header">
		<h2 class="specialties__title">Дисципліни</h2>
	</div>
	<div class="specialties__controll controlls-specialties">
		<button type="submit" class="controlls-specialties__button controlls-specialties__button_dis">Додати</button>
		<div class="controlls-specialties__input input-fillter">
			<input class="input-fillter__input" autocomplete="off" type="text" name="form[]" data-error="Ошибка" placeholder="EI0514BSTPR, Startup проекту">
			<button class="input-fillter__button _icon-search" type="submit"></button>
		</div>
		<div class="controlls-specialties__switch switch-visibility">
			<label class="switch-visibility__label switch-visibility__label_grid _icon-grid" for="grid">
			</label>
			<label class="switch-visibility__label switch-visibility__label_table _icon-table" for="table">
			</label>
			<input hidden type="radio" name="display" class="switch-visibility__grid" id="grid">
			<input hidden type="radio" name="display" class="switch-visibility__table" id="table">
		</div>
	</div>

	<div class="specialties__cards">

		<div class="specialties__body specialties__body_hidden">
			<div class="specialties__card card-chapter card-chapter_header">
				<div class="card-chapter__form form-card form-card_dis">
					<div class="form-card__items form-card__items_number">
						<p class="form-card__number">1</p>
					</div>

					<div class="form-card__items form-card__items_color">
						<p class="form-card__full-name">Повна назва</p>

					</div>

					<div class="form-card__items form-card__items_color">
						<p class="form-card__code">Шифр спеціальності</p>
					</div>
					<div class="form-card__items form-card__items_color form-card__items_noborder">
						<p class="form-card__code">Управлiння</p>
					</div>
				</div>
			</div>
		</div>

		<div class="specialties__body">
			<form action="" class="specialties__card card-chapter">



				<div class="card-chapter__form form-card form-card_dis">
					<div class="form-card__header header-card">
						<h4 class="header-card__dir">Дисципліни <span class="_icon-arrow-down"></span> IU0004BSTPR</h4>
						<div class="header-card__buttons">
							<button class="header-card__button header-card__button_copy _icon-copy" type="reset"></button>
							<button class="header-card__button header-card__button_delete _icon-delete" type="reset"></button>
						</div>
					</div>

					<div hidden class="form-card__items form-card__items_number">
						<p class="form-card__number">2</p>
					</div>

					<div class="form-card__items">
						<div class="form-card__item">
							<textarea class="form-card__input form-card__input_desc" spellcheck="false" autocomplete="off" name="form[]" rows="3">Startup проекту</textarea>
							<button type="submit" class="form-card__button _icon-done"></button>
						</div>
					</div>

					<div class="form-card__items">
						<label class="form-card__label">Шифр: </label>
						<div class="form-card__item">
							<input class="form-card__input form-card__input_code" autocomplete="off" type="text" value="IU0004BSTPR" name="form[]">
							<button type="submit" class="form-card__button _icon-done"></button>
						</div>
					</div>
				</div>
			</form>
		</div>

		<div class="specialties__body">
			<form action="" class="specialties__card card-chapter">



				<div class="card-chapter__form form-card form-card_dis">
					<div class="form-card__header header-card">
						<h4 class="header-card__dir">Дисципліни <span class="_icon-arrow-down"></span> IT1223BITPM</h4>
						<div class="header-card__buttons">
							<button class="header-card__button header-card__button_copy _icon-copy" type="reset"></button>
							<button class="header-card__button header-card__button_delete _icon-delete" type="reset"></button>
						</div>
					</div>

					<div hidden class="form-card__items form-card__items_number">
						<p class="form-card__number">2</p>
					</div>

					<div class="form-card__items">
						<div class="form-card__item">
							<textarea class="form-card__input form-card__input_desc" spellcheck="false" autocomplete="off" name="form[]" rows="3">IT-Project-Management:управління проектами в сфері IT</textarea>
							<button type="submit" class="form-card__button _icon-done"></button>
						</div>
					</div>

					<div class="form-card__items">
						<label class="form-card__label">Шифр: </label>
						<div class="form-card__item">
							<input class="form-card__input form-card__input_code" autocomplete="off" type="text" value="IT1223BITPM" name="form[]">
							<button type="submit" class="form-card__button _icon-done"></button>
						</div>
					</div>
				</div>
			</form>
		</div>

		<div class="specialties__body">
			<form action="" class="specialties__card card-chapter">



				<div class="card-chapter__form form-card form-card_dis">
					<div class="form-card__header header-card">
						<h4 class="header-card__dir">Дисципліни <span class="_icon-arrow-down"></span> IT1223BWPJS</h4>
						<div class="header-card__buttons">
							<button class="header-card__button header-card__button_copy _icon-copy" type="reset"></button>
							<button class="header-card__button header-card__button_delete _icon-delete" type="reset"></button>
						</div>
					</div>
					<div hidden class="form-card__items form-card__items_number">
						<p class="form-card__number">2</p>
					</div>

					<div class="form-card__items">
						<div class="form-card__item">
							<textarea class="form-card__input form-card__input_desc" spellcheck="false" autocomplete="off" name="form[]" rows="3">Web програмування і JavaScript</textarea>
							<button type="submit" class="form-card__button _icon-done"></button>
						</div>
					</div>

					<div class="form-card__items">
						<label class="form-card__label">Шифр: </label>
						<div class="form-card__item">
							<input class="form-card__input form-card__input_code" autocomplete="off" type="text" value="IT1223BWPJS" name="form[]">
							<button type="submit" class="form-card__button _icon-done"></button>
						</div>
					</div>
				</div>
			</form>
		</div>

		<div class="specialties__body">
			<form action="" class="specialties__card card-chapter">



				<div class="card-chapter__form form-card form-card_dis">
					<div class="form-card__header header-card">
						<h4 class="header-card__dir">Дисципліни <span class="_icon-arrow-down"></span> IT1211ВWEBD</h4>
						<div class="header-card__buttons">
							<button class="header-card__button header-card__button_copy _icon-copy" type="reset"></button>
							<button class="header-card__button header-card__button_delete _icon-delete" type="reset"></button>
						</div>
					</div>

					<div hidden class="form-card__items form-card__items_number">
						<p class="form-card__number">2</p>
					</div>

					<div class="form-card__items">
						<div class="form-card__item">
							<textarea class="form-card__input form-card__input_desc" spellcheck="false" autocomplete="off" name="form[]" rows="3">Web-дизайн</textarea>
							<button type="submit" class="form-card__button _icon-done"></button>
						</div>
					</div>

					<div class="form-card__items">
						<label class="form-card__label">Шифр: </label>
						<div class="form-card__item">
							<input class="form-card__input form-card__input_code" autocomplete="off" type="text" value="IT1211ВWEBD" name="form[]">
							<button type="submit" class="form-card__button _icon-done"></button>
						</div>
					</div>
				</div>
			</form>
		</div>


	</div>

	<!-- </div> -->
</section>