 <section class="university">
 	<div class="university__slider swiper">
 		<!-- <div class="university__control control-swiper">
																									<button type="button" class="control-swiper__button swiper-button-prev _icon-arrow-down"></button>
																									<button type="button" class="control-swiper__button swiper-button-next _icon-arrow-down"></button>
																								</div> -->
 		<div class="university__wrapper swiper-wrapper">

 			<div class="university__slide swiper-slide">
 				<div class="university__chapter chapter">
 					<div class="chapter__header header-fillter">
 						<div class="header-fillter__row">
 							<h2 class="header-fillter__title">Факультети</h2>
 							<button type="submit" class="header-fillter__button header-fillter__button_search _icon-search"></button>
 						</div>
 						<div class="header-fillter__row">
 							<!-- <input class="header-fillter__input" autocomplete="off" type="text" name="form[]" data-error="Ошибка" placeholder="Enter text..."> -->
 							<div class="header-fillter__item">
 								<input class="header-fillter__input" autocomplete="off" type="text" placeholder="Enter text..." name="form[]">
 								<!-- <button type="submit" class="header-fillter__button _icon-done"></button> -->
 							</div>
 							<button type="submit" class="header-fillter__button header-fillter__button_sort _icon-sort"></button>
 						</div>
 						<div class="header-fillter__row header-fillter__row_flex-start">
 							<label class="header-fillter__label">Fillter by:</label>
 							<div class="header-fillter__select">
 								<select name="form[]">
 									<option value="1" selected>All</option>
 									<option value="2">Name</option>
 									<option value="3">Description</option>
 								</select>
 							</div>
 						</div>
 					</div>
 					<button type="submit" class="chapter__button">Додати</button>
 					<div class="chapter__cards">
 						<form action="" class="card-chapter">
 							<div class="card-chapter__header header-card">
 								<h4 class="header-card__dir">Dashboard <span class="_icon-arrow-down"></span> Факультети</h4>
 								<!-- <button class="header-card__button" type="submit"><span></span></button> -->
 								<button class="header-card__button _icon-delete" type="reset"></button>
 							</div>
 							<div class="card-chapter__form form-card">
 								<div class="form-card__item">
 									<input class="form-card__input form-card__input_title" autocomplete="off" type="text" value="ОІОП" name="form[]">
 									<button type="submit" class="form-card__button _icon-done"></button>
 								</div>
 								<div class="form-card__item">
 									<!-- <input  class="form-card__input" type="text" value="Lorem ipsum dolor sit amet" name="form[]"> -->
 									<textarea class="form-card__input form-card__input_desc" spellcheck="false" autocomplete="off" name="form[]" rows="3">Lorem ipsum dolor sit amet</textarea>
 									<button type="submit" class="form-card__button _icon-done"></button>
 								</div>
 								<div class="form-card__item">
 									<input class="form-card__input form-card__input_link" autocomplete="off" type="text" value="https://lorem-ipsum-site.com/" name="form[]">
 									<button type="submit" class="form-card__button _icon-done"></button>
 									<button type="submit" class="form-card__button form-card__button_copy _icon-copy"></button>
 								</div>
 							</div>
 							<!-- <div class="card-chapter__control control-card">
																														<button class="control-card__button control-card__button_title _icon-edit-title" type="submit"></button>
																														<button class="control-card__button control-card__button_desc _icon-edit-desc" type="submit"></button>
																														
																													</div> -->
 						</form>

 						<form action="" class="card-chapter">
 							<div class="card-chapter__header header-card">
 								<h4 class="header-card__dir">Dashboard <span class="_icon-arrow-down"></span> Факультети</h4>
 								<button class="header-card__button _icon-delete" type="reset"></button>
 							</div>
 							<div class="card-chapter__form form-card">
 								<div class="form-card__item">
 									<input class="form-card__input form-card__input_title" autocomplete="off" type="text" value="ОІОП" name="form[]">
 									<button type="submit" class="form-card__button _icon-done"></button>
 								</div>
 								<div class="form-card__item">
 									<textarea class="form-card__input form-card__input_desc" spellcheck="false" autocomplete="off" name="form[]" rows="3">Lorem ipsum dolor sit amet</textarea>
 									<button type="submit" class="form-card__button _icon-done"></button>
 								</div>
 								<div class="form-card__item">
 									<input class="form-card__input form-card__input_link" autocomplete="off" type="text" value="https://lorem-ipsum-site.com/" name="form[]">
 									<button type="submit" class="form-card__button _icon-done"></button>
 									<button type="submit" class="form-card__button form-card__button_copy _icon-copy"></button>
 								</div>
 							</div>
 						</form>

 					</div>
 				</div>
 			</div>

 			<div class="university__slide swiper-slide">
 				<div class="university__chapter chapter">
 					<div class="chapter__header header-fillter">
 						<div class="header-fillter__row">
 							<h2 class="header-fillter__title">Освітні ступені</h2>
 							<button type="submit" class="header-fillter__button header-fillter__button_search _icon-search"></button>
 						</div>
 						<div class="header-fillter__row">
 							<div class="header-fillter__item">
 								<input class="header-fillter__input" autocomplete="off" type="text" placeholder="Enter text..." name="form[]">
 							</div>
 							<button type="submit" class="header-fillter__button header-fillter__button_sort _icon-sort"></button>
 						</div>
 						<div class="header-fillter__row header-fillter__row_flex-start">
 							<label class="header-fillter__label">Fillter by:</label>
 							<div class="header-fillter__select">
 								<select name="form[]">
 									<option value="1" selected>All</option>
 									<option value="2">Name</option>
 									<option value="3">Description</option>
 								</select>
 							</div>
 						</div>
 					</div>
 					<button type="submit" class="chapter__button">Додати</button>
 					<div class="chapter__cards">

 						<form action="" class="card-chapter">
 							<div class="card-chapter__header header-card">
 								<h4 class="header-card__dir">Dashboard <span class="_icon-arrow-down"></span> Освітні ступені</h4>
 								<button class="header-card__button _icon-delete" type="reset"></button>
 							</div>
 							<div class="card-chapter__form form-card">
 								<div class="form-card__item">
 									<input class="form-card__input form-card__input_title" autocomplete="off" type="text" value="Бакалавр" name="form[]">
 									<button type="submit" class="form-card__button _icon-done"></button>
 								</div>
 								<div class="form-card__item">
 									<textarea class="form-card__input form-card__input_desc" spellcheck="false" autocomplete="off" name="form[]" rows="3">Lorem ipsum dolor sit amet</textarea>
 									<button type="submit" class="form-card__button _icon-done"></button>
 								</div>
 								<div class="form-card__item">
 									<input class="form-card__input form-card__input_link" autocomplete="off" type="text" value="https://lorem-ipsum-site.com/" name="form[]">
 									<button type="submit" class="form-card__button _icon-done"></button>
 									<button type="submit" class="form-card__button form-card__button_copy _icon-copy"></button>
 								</div>
 							</div>
 						</form>


 						<form action="" class="card-chapter">
 							<div class="card-chapter__header header-card">
 								<h4 class="header-card__dir">Dashboard <span class="_icon-arrow-down"></span> Освітні ступені</h4>
 								<button class="header-card__button _icon-delete" type="reset"></button>
 							</div>
 							<div class="card-chapter__form form-card">
 								<div class="form-card__item">
 									<input class="form-card__input form-card__input_title" autocomplete="off" type="text" value="Магістр" name="form[]">
 									<button type="submit" class="form-card__button _icon-done"></button>
 								</div>
 								<div class="form-card__item">
 									<textarea class="form-card__input form-card__input_desc" spellcheck="false" autocomplete="off" name="form[]" rows="3">Lorem ipsum dolor sit amet</textarea>
 									<button type="submit" class="form-card__button _icon-done"></button>
 								</div>
 								<div class="form-card__item">
 									<input class="form-card__input form-card__input_link" autocomplete="off" type="text" value="https://lorem-ipsum-site.com/" name="form[]">
 									<button type="submit" class="form-card__button _icon-done"></button>
 									<button type="submit" class="form-card__button form-card__button_copy _icon-copy"></button>
 								</div>
 							</div>
 						</form>

 						<form action="" class="card-chapter">
 							<div class="card-chapter__header header-card">
 								<h4 class="header-card__dir">Dashboard <span class="_icon-arrow-down"></span> Освітні ступені</h4>
 								<button class="header-card__button _icon-delete" type="reset"></button>
 							</div>
 							<div class="card-chapter__form form-card">
 								<div class="form-card__item">
 									<input class="form-card__input form-card__input_title" autocomplete="off" type="text" value="Молодший Бакалавр" name="form[]">
 									<button type="submit" class="form-card__button _icon-done"></button>
 								</div>
 								<div class="form-card__item">
 									<textarea class="form-card__input form-card__input_desc" spellcheck="false" autocomplete="off" name="form[]" rows="3">Lorem ipsum dolor sit amet</textarea>
 									<button type="submit" class="form-card__button _icon-done"></button>
 								</div>
 								<div class="form-card__item">
 									<input class="form-card__input form-card__input_link" autocomplete="off" type="text" value="https://lorem-ipsum-site.com/" name="form[]">
 									<button type="submit" class="form-card__button _icon-done"></button>
 									<button type="submit" class="form-card__button form-card__button_copy _icon-copy"></button>
 								</div>
 							</div>
 						</form>

 					</div>
 				</div>
 			</div>

 			<div class="university__slide swiper-slide">
 				<div class="university__chapter chapter">
 					<div class="chapter__header header-fillter">
 						<div class="header-fillter__row">
 							<h2 class="header-fillter__title">Структурні підрозділи</h2>
 							<button type="submit" class="header-fillter__button header-fillter__button_search _icon-search"></button>
 						</div>
 						<div class="header-fillter__row">
 							<div class="header-fillter__item">
 								<input class="header-fillter__input" autocomplete="off" type="text" placeholder="Enter text..." name="form[]">
 							</div>
 							<button type="submit" class="header-fillter__button header-fillter__button_sort _icon-sort"></button>
 						</div>
 						<div class="header-fillter__row header-fillter__row_flex-start">
 							<label class="header-fillter__label">Fillter by:</label>
 							<div class="header-fillter__select">
 								<select name="form[]">
 									<option value="1" selected>All</option>
 									<option value="2">Name</option>
 									<option value="3">Description</option>
 								</select>
 							</div>
 						</div>
 					</div>
 					<button type="submit" class="chapter__button">Додати</button>
 					<div class="chapter__cards">

 						<form action="" class="card-chapter">
 							<div class="card-chapter__header header-card">
 								<h4 class="header-card__dir">Dashboard <span class="_icon-arrow-down"></span> Структурні підрозділи</h4>
 								<button class="header-card__button _icon-delete" type="reset"></button>
 							</div>
 							<div class="card-chapter__form form-card">
 								<div class="form-card__item">
 									<input class="form-card__input form-card__input_title" autocomplete="off" type="text" value="HHEI" name="form[]">
 									<button type="submit" class="form-card__button _icon-done"></button>
 								</div>
 								<div class="form-card__item">
 									<textarea class="form-card__input form-card__input_desc" spellcheck="false" autocomplete="off" name="form[]" rows="3">Lorem ipsum dolor sit amet</textarea>
 									<button type="submit" class="form-card__button _icon-done"></button>
 								</div>
 								<div class="form-card__item">
 									<input class="form-card__input form-card__input_link" autocomplete="off" type="text" value="https://lorem-ipsum-site.com/" name="form[]">
 									<button type="submit" class="form-card__button _icon-done"></button>
 									<button type="submit" class="form-card__button form-card__button_copy _icon-copy"></button>
 								</div>
 							</div>
 						</form>

 						<form action="" class="card-chapter">
 							<div class="card-chapter__header header-card">
 								<h4 class="header-card__dir">Dashboard <span class="_icon-arrow-down"></span> Структурні підрозділи</h4>
 								<button class="header-card__button _icon-delete" type="reset"></button>
 							</div>
 							<div class="card-chapter__form form-card">
 								<div class="form-card__item">
 									<input class="form-card__input form-card__input_title" autocomplete="off" type="text" value="ННТІ" name="form[]">
 									<button type="submit" class="form-card__button _icon-done"></button>
 								</div>
 								<div class="form-card__item">
 									<textarea class="form-card__input form-card__input_desc" spellcheck="false" autocomplete="off" name="form[]" rows="3">Lorem ipsum dolor sit amet</textarea>
 									<button type="submit" class="form-card__button _icon-done"></button>
 								</div>
 								<div class="form-card__item">
 									<input class="form-card__input form-card__input_link" autocomplete="off" type="text" value="https://lorem-ipsum-site.com/" name="form[]">
 									<button type="submit" class="form-card__button _icon-done"></button>
 									<button type="submit" class="form-card__button form-card__button_copy _icon-copy"></button>
 								</div>
 							</div>
 						</form>

 						<form action="" class="card-chapter">
 							<div class="card-chapter__header header-card">
 								<h4 class="header-card__dir">Dashboard <span class="_icon-arrow-down"></span> Структурні підрозділи</h4>
 								<button class="header-card__button _icon-delete" type="reset"></button>
 							</div>
 							<div class="card-chapter__form form-card">
 								<div class="form-card__item">
 									<input class="form-card__input form-card__input_title" autocomplete="off" type="text" value="ННІУБО" name="form[]">
 									<button type="submit" class="form-card__button _icon-done"></button>
 								</div>
 								<div class="form-card__item">
 									<textarea class="form-card__input form-card__input_desc" spellcheck="false" autocomplete="off" name="form[]" rows="3">Lorem ipsum dolor sit amet</textarea>
 									<button type="submit" class="form-card__button _icon-done"></button>
 								</div>
 								<div class="form-card__item">
 									<input class="form-card__input form-card__input_link" autocomplete="off" type="text" value="https://lorem-ipsum-site.com/" name="form[]">
 									<button type="submit" class="form-card__button _icon-done"></button>
 									<button type="submit" class="form-card__button form-card__button_copy _icon-copy"></button>
 								</div>
 							</div>
 						</form>

 					</div>
 				</div>
 			</div>

 			<div class="university__slide swiper-slide">
 				<div class="university__chapter chapter">
 					<div class="chapter__header header-fillter">
 						<div class="header-fillter__row">
 							<h2 class="header-fillter__title">Ще шось</h2>
 							<button type="submit" class="header-fillter__button header-fillter__button_search _icon-search"></button>
 						</div>
 						<div class="header-fillter__row">
 							<div class="header-fillter__item">
 								<input class="header-fillter__input" autocomplete="off" type="text" placeholder="Enter text..." name="form[]">
 							</div>
 							<button type="submit" class="header-fillter__button header-fillter__button_sort _icon-sort"></button>
 						</div>
 						<div class="header-fillter__row header-fillter__row_flex-start">
 							<label class="header-fillter__label">Fillter by:</label>
 							<div class="header-fillter__select">
 								<select name="form[]">
 									<option value="1" selected>All</option>
 									<option value="2">Name</option>
 									<option value="3">Description</option>
 								</select>
 							</div>
 						</div>
 					</div>
 					<button type="submit" class="chapter__button">Додати</button>
 					<div class="chapter__cards">


 					</div>
 				</div>
 			</div>

 		</div>
 	</div>
 </section>