<section class="page__specialties specialties specialties_lvl">
	<!-- <div class="specialties__container"> -->
	<div class="specialties__header">
		<h2 class="specialties__title">Освітні ступені</h2>
		<button type="submit" class="specialties__button specialties__button_lvl _icon-arrow-down"></button>
	</div>
	<div class="specialties__body-hidden specialties__body-hidden_lvl">
		<div class="specialties__controll controlls-specialties">
			<button type="submit" class="controlls-specialties__button controlls-specialties__button_osv-lvl">Додати</button>
			<div class="controlls-specialties__input input-fillter">
				<input class="input-fillter__input" autocomplete="off" type="text" name="form[]" data-error="Ошибка" placeholder="Назва, коментар">
				<button class="input-fillter__button _icon-search" type="submit"></button>
			</div>
			<div class="controlls-specialties__switch switch-visibility">
				<label class="switch-visibility__label switch-visibility__label_grid _icon-grid" for="grid">
				</label>
				<label class="switch-visibility__label switch-visibility__label_table _icon-table" for="table">
				</label>
				<input hidden type="radio" name="display" class="switch-visibility__grid" id="grid">
				<input hidden type="radio" name="display" class="switch-visibility__table" id="table">
			</div>
		</div>

		<div class="specialties__cards">

			<div class="specialties__body specialties__body_hidden">
				<div class="specialties__card card-chapter card-chapter_header">
					<div class="card-chapter__form form-card form-card_university">
						<div class="form-card__items form-card__items_number">
							<p class="form-card__number">1</p>
						</div>

						<div class="form-card__items form-card__items_color">
							<p class="form-card__full-name">Освітній ступень</p>

						</div>

						<div class="form-card__items form-card__items_color">
							<p class="form-card__code">Коментар</p>
						</div>
						<div class="form-card__items form-card__items_color form-card__items_noborder">
							<p class="form-card__code">Управлiння</p>
						</div>
					</div>
				</div>
			</div>



			<div class="specialties__body">
				<form action="" class="specialties__card card-chapter">



					<div class="card-chapter__form form-card form-card_university">
						<div class="form-card__header header-card">
							<h4 class="header-card__dir">Університет <span class="_icon-arrow-down"></span> Освітні ступені</h4>
							<div class="header-card__buttons">
								<button class="header-card__button header-card__button_copy _icon-copy" type="reset"></button>
								<button class="header-card__button header-card__button_delete _icon-delete" type="reset"></button>
							</div>
						</div>
						<div hidden class="form-card__items form-card__items_number">
							<p class="form-card__number">2</p>
						</div>

						<div class="form-card__items">
							<div class="form-card__item">
								<input class="form-card__input form-card__input_code" autocomplete="off" type="text" value="Бакалавр" name="form[]">
								<button type="submit" class="form-card__button _icon-done"></button>
							</div>
						</div>

						<div class="form-card__items">
							<div class="form-card__item">
								<textarea class="form-card__input form-card__input_desc form-card__input_dod-opt" spellcheck="false" autocomplete="off" name="form[]" rows="5">Lorem ipsum dolor sit amet</textarea>
								<button type="submit" class="form-card__button _icon-done"></button>
							</div>
						</div>
					</div>
				</form>
			</div>

			<div class="specialties__body">
				<form action="" class="specialties__card card-chapter">



					<div class="card-chapter__form form-card form-card_university">
						<div class="form-card__header header-card">
							<h4 class="header-card__dir">Університет <span class="_icon-arrow-down"></span> Освітні ступені</h4>
							<div class="header-card__buttons">
								<button class="header-card__button header-card__button_copy _icon-copy" type="reset"></button>
								<button class="header-card__button header-card__button_delete _icon-delete" type="reset"></button>
							</div>
						</div>
						<div hidden class="form-card__items form-card__items_number">
							<p class="form-card__number">2</p>
						</div>

						<div class="form-card__items">
							<div class="form-card__item">
								<input class="form-card__input form-card__input_code" autocomplete="off" type="text" value="Магістр" name="form[]">
								<button type="submit" class="form-card__button _icon-done"></button>
							</div>
						</div>

						<div class="form-card__items">
							<div class="form-card__item">
								<textarea class="form-card__input form-card__input_desc form-card__input_dod-opt" spellcheck="false" autocomplete="off" name="form[]" rows="5">Lorem ipsum dolor sit amet</textarea>
								<button type="submit" class="form-card__button _icon-done"></button>
							</div>
						</div>
					</div>
				</form>
			</div>


			<div class="specialties__body">
				<form action="" class="specialties__card card-chapter">



					<div class="card-chapter__form form-card form-card_university">
						<div class="form-card__header header-card">
							<h4 class="header-card__dir">Університет <span class="_icon-arrow-down"></span> Освітні ступені</h4>
							<div class="header-card__buttons">
								<button class="header-card__button header-card__button_copy _icon-copy" type="reset"></button>
								<button class="header-card__button header-card__button_delete _icon-delete" type="reset"></button>
							</div>
						</div>
						<div hidden class="form-card__items form-card__items_number">
							<p class="form-card__number">2</p>
						</div>

						<div class="form-card__items">
							<div class="form-card__item">
								<input class="form-card__input form-card__input_code" autocomplete="off" type="text" value="Молодший Бакалавр" name="form[]">
								<button type="submit" class="form-card__button _icon-done"></button>
							</div>
						</div>

						<div class="form-card__items">
							<div class="form-card__item">
								<textarea class="form-card__input form-card__input_desc form-card__input_dod-opt" spellcheck="false" autocomplete="off" name="form[]" rows="5">Lorem ipsum dolor sit amet</textarea>
								<button type="submit" class="form-card__button _icon-done"></button>
							</div>
						</div>
					</div>
				</form>
			</div>

			<div class="specialties__body">
				<form action="" class="specialties__card card-chapter">



					<div class="card-chapter__form form-card form-card_university">
						<div class="form-card__header header-card">
							<h4 class="header-card__dir">Університет <span class="_icon-arrow-down"></span> Освітні ступені</h4>
							<div class="header-card__buttons">
								<button class="header-card__button header-card__button_copy _icon-copy" type="reset"></button>
								<button class="header-card__button header-card__button_delete _icon-delete" type="reset"></button>
							</div>
						</div>
						<div hidden class="form-card__items form-card__items_number">
							<p class="form-card__number">3</p>
						</div>

						<div class="form-card__items">
							<div class="form-card__item">
								<input class="form-card__input form-card__input_code" autocomplete="off" type="text" value="Фаховий молодший Бакалавр" name="form[]">
								<button type="submit" class="form-card__button _icon-done"></button>
							</div>
						</div>

						<div class="form-card__items">
							<div class="form-card__item">
								<textarea class="form-card__input form-card__input_desc form-card__input_dod-opt" spellcheck="false" autocomplete="off" name="form[]" rows="5">Lorem ipsum dolor sit amet</textarea>
								<button type="submit" class="form-card__button _icon-done"></button>
							</div>
						</div>
					</div>
				</form>
			</div>




		</div>
	</div>

	<!-- </div> -->
</section>
<section class="page__specialties specialties specialties_form">
	<!-- <div class="specialties__container"> -->
	<div class="specialties__header">
		<h2 class="specialties__title">Форма навчання</h2>
		<button type="submit" class="specialties__button specialties__button_form _icon-arrow-down"></button>
	</div>
	<div class="specialties__body-hidden specialties__body-hidden_form">
		<div class="specialties__controll controlls-specialties">
			<button type="submit" class="controlls-specialties__button controlls-specialties__button_form-study">Додати</button>
			<div class="controlls-specialties__input input-fillter">
				<input class="input-fillter__input" autocomplete="off" type="text" name="form[]" data-error="Ошибка" placeholder="Форма навчання">
				<button class="input-fillter__button _icon-search" type="submit"></button>
			</div>
			<div class="controlls-specialties__switch switch-visibility">
				<label class="switch-visibility__label switch-visibility__label_grid _icon-grid" for="grid">
				</label>
				<label class="switch-visibility__label switch-visibility__label_table _icon-table" for="table">
				</label>
				<input hidden type="radio" name="display" class="switch-visibility__grid" id="grid">
				<input hidden type="radio" name="display" class="switch-visibility__table" id="table">
			</div>
		</div>

		<div class="specialties__cards">

			<div class="specialties__body specialties__body_hidden">
				<div class="specialties__card card-chapter card-chapter_header">
					<div class="card-chapter__form form-card form-card_form-study">
						<div class="form-card__items form-card__items_number">
							<p class="form-card__number">1</p>
						</div>

						<div class="form-card__items form-card__items_color">
							<p class="form-card__code">Форма навчання</p>
						</div>

						<div class="form-card__items form-card__items_color form-card__items_noborder">
							<p class="form-card__code">Управлiння</p>
						</div>
					</div>
				</div>
			</div>

			<div class="specialties__body">
				<form action="" class="specialties__card card-chapter">



					<div class="card-chapter__form form-card form-card_form-study">

						<div class="form-card__header header-card">
							<h4 class="header-card__dir">Університет <span class="_icon-arrow-down"></span> Форма навчання</h4>
							<div class="header-card__buttons">
								<button class="header-card__button header-card__button_copy _icon-copy" type="reset"></button>
								<button class="header-card__button header-card__button_delete _icon-delete" type="reset"></button>
							</div>
						</div>


						<div hidden class="form-card__items form-card__items_number">
							<p class="form-card__number">2</p>
						</div>

						<div class="form-card__items form-card__items">
							<div class="form-card__item">
								<input class="form-card__input form-card__input_title" autocomplete="off" type="text" value="Денна" name="form[]">
								<button type="submit" class="form-card__button _icon-done"></button>
							</div>
						</div>


					</div>
				</form>
			</div>

			<div class="specialties__body">
				<form action="" class="specialties__card card-chapter">



					<div class="card-chapter__form form-card form-card_form-study">

						<div class="form-card__header header-card">
							<h4 class="header-card__dir">Університет <span class="_icon-arrow-down"></span> Форма навчання</h4>
							<div class="header-card__buttons">
								<button class="header-card__button header-card__button_copy _icon-copy" type="reset"></button>
								<button class="header-card__button header-card__button_delete _icon-delete" type="reset"></button>
							</div>
						</div>
						<div hidden class="form-card__items form-card__items_number">
							<p class="form-card__number">3</p>
						</div>

						<div class="form-card__items">
							<div class="form-card__item">
								<input class="form-card__input form-card__input_title" autocomplete="off" type="text" value="Вечірня" name="form[]">
								<button type="submit" class="form-card__button _icon-done"></button>
							</div>
						</div>


					</div>
				</form>
			</div>

			<div class="specialties__body">
				<form action="" class="specialties__card card-chapter">



					<div class="card-chapter__form form-card form-card_form-study">

						<div class="form-card__header header-card">
							<h4 class="header-card__dir">Університет <span class="_icon-arrow-down"></span> Форма навчання</h4>
							<div class="header-card__buttons">
								<button class="header-card__button header-card__button_copy _icon-copy" type="reset"></button>
								<button class="header-card__button header-card__button_delete _icon-delete" type="reset"></button>
							</div>
						</div>

						<div hidden class="form-card__items form-card__items_number">
							<p class="form-card__number">4</p>
						</div>

						<div class="form-card__items">
							<div class="form-card__item">
								<input class="form-card__input form-card__input_title" autocomplete="off" type="text" value="Заочна" name="form[]">
								<button type="submit" class="form-card__button _icon-done"></button>
							</div>
						</div>


					</div>
				</form>


			</div>
		</div>
	</div>

	<!-- </div> -->
</section>