<section class="page__specialties specialties specialties_padding-bottom">
	<!-- <div class="specialties__container"> -->
	<div class="specialties__header">
		<h2 class="specialties__title">Користувачі</h2>
	</div>
	<div class="specialties__controll controlls-specialties">
		<button type="button" class="controlls-specialties__button controlls-specialties__button_user">Додати</button>
		<div class="controlls-specialties__input input-fillter">
			<input class="input-fillter__input" autocomplete="off" type="text" name="form[]" data-error="Ошибка" placeholder="Гушко Сергій Володимирович, Admin">
			<button class="input-fillter__button _icon-search" type="button"></button>
		</div>
	</div>
	<div class="specialties__cards specialties__cards_padding-bottom-300">
		<div class="specialties__body">
			<form action="" class="specialties__card card-chapter">
				<div class="card-chapter__form form-card">
					<div class="form-card__header header-card">
						<h4 class="header-card__dir">Користувачі <span class="_icon-arrow-down"></span> Шайкан Андрій Валерійович</h4>
						<div class="header-card__buttons">
							<!-- <button class="header-card__button header-card__button_copy-user _icon-copy" type="reset"></button> -->
							<button class="header-card__button header-card__button_delete _icon-delete" type="reset"></button>
						</div>
					</div>
					<div class="form-card__items form-card__items">
						<div class="form-card__item form-card__item_flex">
							<button class="form-card__image-ibg"><img src="https://www.duet.edu.ua/storage/images/unnamed257.jpg" alt=""></button>
							<!-- <div class="form-card__image-ibg"><img src="img/users/Shaikan.jpg" alt=""></div> -->
						</div>
					</div>
					<div class="form-card__items form-card__items">
						<div class="form-card__item">
							<input class="form-card__input form-card__input_title" autocomplete="off" type="text" value="Шайкан Андрій Валерійович" name="form[]">
							<button type="button" class="form-card__button _icon-done"></button>
						</div>
					</div>
					<div class="form-card__items form-card__items">
						<label class="form-card__label">Пароль: </label>
						<div class="form-card__item">
							<input class="form-card__input form-card__input_title" autocomplete="off" type="password" value="123456789" name="form[]">
							<button type="button" class="form-card__viewpass"><span></span>
								<svg width="24" height="23" viewBox="0 0 24 23" fill="none" xmlns="http://www.w3.org/2000/svg">
									<g clip-path="url(#clip0_660_1643)">
										<path d="M9.33333 11.5C10.8042 11.5 12 10.3042 12 8.83333C12 8.35417 11.8375 7.90417 11.65 7.51667C11.7667 7.50417 11.8833 7.5 12 7.5C14.2083 7.5 16 9.25417 16 11.5C16 13.7083 14.2083 15.5 12 15.5C9.75417 15.5 8 13.7083 8 11.5C8 11.3833 8.00417 11.2667 8.01667 11.15C8.40417 11.3375 8.85417 11.5 9.33333 11.5Z" fill="#0081A7" />
										<path opacity="0.4" d="M3.97584 5.52533C5.93751 3.70199 8.63334 2.16699 12 2.16699C15.3667 2.16699 18.0625 3.70199 20.025 5.52533C21.975 7.33366 23.2792 9.46283 23.8958 10.9878C24.0333 11.317 24.0333 11.6837 23.8958 12.0128C23.2792 13.5003 21.975 15.6295 20.025 17.4753C18.0625 19.3003 15.3667 20.8337 12 20.8337C8.63334 20.8337 5.93751 19.3003 3.97584 17.4753C2.02584 15.6295 0.722505 13.5003 0.102547 12.0128C-0.0341823 11.6837 -0.0341823 11.317 0.102547 10.9878C0.722505 9.46283 2.02584 7.33366 3.97584 5.52533ZM12 17.5003C15.3125 17.5003 18 14.8128 18 11.5003C18 8.18783 15.3125 5.50033 12 5.50033C8.68751 5.50033 6.00001 8.18783 6.00001 11.5003C6.00001 14.8128 8.68751 17.5003 12 17.5003Z" fill="#0081A7" />
									</g>
									<defs>
										<clipPath id="clip0_660_1643">
											<rect width="24" height="21.3333" fill="white" transform="translate(0 0.833496)" />
										</clipPath>
									</defs>
								</svg>
							</button>
							<button type="button" class="form-card__button _icon-done"></button>
						</div>
					</div>
					<div class="form-card__items">
						<div class="form-card__item form-card__item_select-visible">
							<select class="form-card__select" data-label multiple data-checkbox data-submit data-notitle name="form[]">
								<option value="" selected>Доступ до сторінок</option>
								<option value="1" data-class="select__option_padding" data-checked-disabled>Головна</option>
								<option value="2" data-class="select__option_padding" data-checked-disabled data-dashed>Користувачі</option>
								<option value="3" data-class="select__option_padding">Спеціальності</option>
								<option value="4" data-class="select__option_padding">Освітні документи</option>
								<option value="5" data-class="select__option_padding">Університет</option>
								<option value="6" data-class="select__option_padding">Структурні підрозділи</option>
								<option value="7" data-class="select__option_padding">Дисципліни</option>
								<option value="8" data-class="select__option_padding" data-dashed>Категорія дод. освітніх опцій</option>
								<option value="9" data-class="select__option_padding">Дод. освітні опції</option>
								<option value="10" data-class="select__option_padding">Осв. програми</option>
								<option value="11" data-class="select__option_padding">Профессії</option>
							</select>
						</div>
					</div>
					<div class="form-card__items">
						<!-- <div class="form-card__item"> -->
						<button type="button" class="form-card__button-save">Зберегти</button>
						<!-- </div> -->
					</div>
				</div>
			</form>
		</div>
		<div class="specialties__body">
			<form action="" class="specialties__card card-chapter">
				<div class="card-chapter__form form-card">
					<div class="form-card__header header-card">
						<h4 class="header-card__dir">Користувачі <span class="_icon-arrow-down"></span> Гушко Сергій Володимирович</h4>
						<div class="header-card__buttons">
							<!-- <button class="header-card__button header-card__button_copy-user _icon-copy" type="reset"></button> -->
							<button class="header-card__button header-card__button_delete _icon-delete" type="reset"></button>
						</div>
					</div>
					<div class="form-card__items form-card__items">
						<div class="form-card__item form-card__item_flex">
							<button class="form-card__image-ibg"><img src="https://www.duet.edu.ua/storage/images/%D0%93%D1%83%D1%88%D0%BA%D0%BE-%D0%A1.jpg" alt=""></button>
							<!-- <div class="form-card__image-ibg"><img src="img/users/Shaikan.jpg" alt=""></div> -->
						</div>
					</div>
					<div class="form-card__items form-card__items">
						<div class="form-card__item">
							<input class="form-card__input form-card__input_title" autocomplete="off" type="text" value="Гушко Сергій Володимирович" name="form[]">
							<button type="button" class="form-card__button _icon-done"></button>
						</div>
					</div>
					<div class="form-card__items form-card__items">
						<label class="form-card__label">Пароль: </label>
						<div class="form-card__item">
							<input class="form-card__input form-card__input_title" autocomplete="off" type="password" value="123456789" name="form[]">
							<button type="button" class="form-card__viewpass"><span></span>
								<svg width="24" height="23" viewBox="0 0 24 23" fill="none" xmlns="http://www.w3.org/2000/svg">
									<g clip-path="url(#clip0_660_1643)">
										<path d="M9.33333 11.5C10.8042 11.5 12 10.3042 12 8.83333C12 8.35417 11.8375 7.90417 11.65 7.51667C11.7667 7.50417 11.8833 7.5 12 7.5C14.2083 7.5 16 9.25417 16 11.5C16 13.7083 14.2083 15.5 12 15.5C9.75417 15.5 8 13.7083 8 11.5C8 11.3833 8.00417 11.2667 8.01667 11.15C8.40417 11.3375 8.85417 11.5 9.33333 11.5Z" fill="#0081A7" />
										<path opacity="0.4" d="M3.97584 5.52533C5.93751 3.70199 8.63334 2.16699 12 2.16699C15.3667 2.16699 18.0625 3.70199 20.025 5.52533C21.975 7.33366 23.2792 9.46283 23.8958 10.9878C24.0333 11.317 24.0333 11.6837 23.8958 12.0128C23.2792 13.5003 21.975 15.6295 20.025 17.4753C18.0625 19.3003 15.3667 20.8337 12 20.8337C8.63334 20.8337 5.93751 19.3003 3.97584 17.4753C2.02584 15.6295 0.722505 13.5003 0.102547 12.0128C-0.0341823 11.6837 -0.0341823 11.317 0.102547 10.9878C0.722505 9.46283 2.02584 7.33366 3.97584 5.52533ZM12 17.5003C15.3125 17.5003 18 14.8128 18 11.5003C18 8.18783 15.3125 5.50033 12 5.50033C8.68751 5.50033 6.00001 8.18783 6.00001 11.5003C6.00001 14.8128 8.68751 17.5003 12 17.5003Z" fill="#0081A7" />
									</g>
									<defs>
										<clipPath id="clip0_660_1643">
											<rect width="24" height="21.3333" fill="white" transform="translate(0 0.833496)" />
										</clipPath>
									</defs>
								</svg>
							</button>
							<button type="button" class="form-card__button _icon-done"></button>
						</div>
					</div>
					<div class="form-card__items">
						<div class="form-card__item form-card__item_select-visible">
							<select class="form-card__select" data-label multiple data-checkbox data-submit data-notitle name="form[]">
								<option value="" selected>Доступ до сторінок</option>
								<option value="1" data-class="select__option_padding" data-checked-disabled>Головна</option>
								<option value="2" data-class="select__option_padding" data-checked-disabled data-dashed>Користувачі</option>
								<option value="3" data-class="select__option_padding">Спеціальності</option>
								<option value="4" data-class="select__option_padding">Освітні документи</option>
								<option value="5" data-class="select__option_padding">Університет</option>
								<option value="6" data-class="select__option_padding">Структурні підрозділи</option>
								<option value="7" data-class="select__option_padding">Дисципліни</option>
								<option value="8" data-class="select__option_padding" data-dashed>Категорія дод. освітніх опцій</option>
								<option value="9" data-class="select__option_padding">Дод. освітні опції</option>
								<option value="10" data-class="select__option_padding">Осв. програми</option>
								<option value="11" data-class="select__option_padding">Профессії</option>
							</select>
						</div>
					</div>
					<div class="form-card__items">
						<!-- <div class="form-card__item"> -->
						<button type="button" class="form-card__button-save">Зберегти</button>
						<!-- </div> -->
					</div>
				</div>
			</form>
		</div>
	</div>
	<!-- </div> -->
</section>